# Dependencias e builds
node_modules/
dist/
dist-obf/

# CEF pesado / runtime
cef_files/

# Configuracao privada do servidor
server-config.js

# Dados locais do usuario
HCRP_usuario.json

# Logs e caches
*.log
*.tmp
*.cache

# Windows / editores
Thumbs.db
.DS_Store
.vscode/
.idea/
